<div class="container my-4">
    <h2>All Appointments</h2>
    {{#if hasUsers}}
    <a href="/backend/appointments/create" class="btn btn-success mb-3">Create New Appointment</a>
    {{else}}
    <a href="#" class="btn btn-success disabled" aria-disabled="true">Create New Appointment</a>
    <div>
        <small class="d-inline text-danger mb-3">You must create a user not admin before you can create an appointment.</small>
    </div>
    {{/if}}
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Time</th>
            <th>Speciality</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#each appointments}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{formatDate this.date}}</td>
                <td>{{this.time}}</td>
                <td>{{this.location}}</td>
                <td><a href="/backend/users/{{this.user._id}}">{{this.user.firstName}} {{this.user.lastName}}</a></td>
                <td>
                    <a href="/backend/appointments/{{this._id}}" class="btn btn-info">Details</a>
                    <form action="/backend/appointments/delete/{{this._id}}" method="POST" onsubmit="return confirm('Are you sure?');"
                          style="display: inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
     <div class="d-inline">
        <a href="/backend" class="btn btn-secondary mt-3">Back to Dashboard</a>
    </div>
</div>
